@import "../../common/common.module.scss";

// profile styling
$profileWidth: 480px;

.profileContainer {
    width: $profileWidth;
}

// header styling
.headerContainer {
    float: left;
}

.headerText {
    font-size: $headerTextSize;
}

.subheaderText {
    font-size: $subheaderTextSize;
}

// picture styling
$pictureWidth: 120px;
$pictureFontSizeRatio: 0.80;
$pictureMarginTopRatio: 27%;
$pictureBackground: $black;

.pictureContainer {
    float: right;
    width: $pictureWidth;
    height: $pictureWidth;
    background-color: $pictureBackground;
    border-radius: 50%;

    // center picture horizontally and vertically
    display: flex;
    align-items: center;
    justify-content: center;

    // clip picture
    overflow: hidden;
}

.picture {
    font-size: $pictureWidth*$pictureFontSizeRatio;
    margin-top: $pictureMarginTopRatio;
}