@import "../../common/common.module.scss";

// profile styling
$profileWidth: 640px;
$profileHeight: 160px;

.profileContainer {
    position: relative;
    width: $profileWidth;
    height: $profileHeight;
}

// header styling
.headerContainer {
    @extend .centerVertical;
}

.headerText {
    font-size: $headerTextSize;
}

.subheaderText {
    font-size: $subheaderTextSize;
}

// picture styling
$pictureWidth: 120px;
$pictureFontSizeRatio: 0.80;
$pictureMarginTopRatio: 27%;
$pictureBackground: $lightBlue;

.pictureContainer {
    @extend .centerVertical;
    right: 0;
    width: $pictureWidth;
    height: $pictureWidth;
    background-color: $pictureBackground;
    border-radius: 50%;

    // center picture horizontally and vertically
    display: flex;
    align-items: center;
    justify-content: center;

    // clip picture
    overflow: hidden;
}

.picture {
    font-size: $pictureWidth*$pictureFontSizeRatio;
    margin-top: $pictureMarginTopRatio;
}

// description styling
.descriptionContainer {
    font-size: $regularTextSize;
    width: $profileWidth;
}