@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import "./common.module.scss";

body {
    font-family: 'DM Sans', 'Verdana';
    background-color: $lightGray;
    margin: 0;
}

button {
    font-family: 'DM Sans', 'Verdana';
}